body,
html,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container-scroll {
  flex: 0 0 60%;
  width: 70%;
  background: #ecf0f1;
  border: none;
  align-items: center;
  overflow-x: hidden;
  display: flex;
}
.element-scroll {
  flex: 0 0 50%; /*width*/
  /* border-radius: 0.5rem; */
  padding: calc((70% - 60%) / 4);
  transition: 0.5s transform cubic-bezier(0.21, 0.66, 0.39, 0.43);
  text-align: center;
}
.element {
  /* background: #2c3e50; */
  color: white;
  padding: 10rem 2rem;
}
.element-scroll:nth-child(1) .element {
  background: #e67e22;
}
.element-scroll:nth-child(2) .element {
  background: #95a5a6;
}
.element-scroll:nth-child(3) .element {
  background: #7f8c8d;
}
.element-scroll:nth-child(4) .element {
  background: #34495e;
}
.element-scroll:nth-child(5) .element {
  background: #3498db;
}
.element-scroll:nth-child(6) .element {
  background: #c0392b;
}

.btn {
  padding: 1rem 2rem;
  border-radius: 3rem;
  background: rgba(140, 122, 230, 1);
  cursor: pointer;
  color: white;
  outline: 0;
  border: none;
  font-size: 1.5rem;
  margin: 3rem;
}
@media screen and (max-width: 800px) {
  .element-scroll {
    flex: 0 0 100%;
    padding: 0;
  }

  .container-scroll {
    flex: 0 0 50%;
    width: 100%;
  }
}
.transition {
  transition: 0.5s transform cubic-bezier(0.21, 0.66, 0.39, 0.43); /*0.8s transform cubic-bezier(0.3, 0.56, 0.58, 0.44);*/
}
.transition-delay {
  transition: 0.5s transform ease-in-out 0.2s;
}
